<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Curriculo</title>
</head>

<body>
    <div class="container">
        <div class="card mb-3 mt-4 text-center bg-warning " style="max-width: 1500px; border: 2px solid black;">
            <div class="row g-0">
                <div class="col-md-4 mt-1 mb-1">
                    <img class="perfil" style="border: 3px solid black;" src=" assets/Perfil1.jpg ">
                </div>
                <div class="col-md-5 mt-4">
                    <div class="card-body">
                        <h1 class="card-title">Lucas Souza Macedo</h1>
                        <h5 class="card-text">Auxiliar de informatica</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------Inf. Pessoal-------------------------------------- -->
        <div class="mt-5">
            <h1>Informações Pessoais</h1>
        </div>
        <h5>
            _______________________
        </h5>
        <div class="container">
            <div class=" row bg-secondary" style="max-width: 1500px;  --bs-bg-opacity: .2  ">
                <div class="col mt-2">
                    <section>
                        <ul>
                            <li>
                                <h5><b>Idade:</b> 20 Anos</h5>
                            </li>
                            <li>
                                <h5><b>Telefone:</b> (11) 96123-2136</h5>
                            </li>
                            <li>
                                <h5><b>Email:</b> lucasomacedo@gmail.com</h5>
                            </li>

                        </ul>

                    </section>
                </div>
                <div class=" col mt-2">
                    <section>
                        <ul>
                            <li>
                                <h5><b>Endereço:</b> Rua Ana Ventura Nitão, 178 - Osasco</h5>
                            </li>
                            <li>
                                <h5><b>Nacionalidade:</b> Brasileiro</h5>
                            </li>
                            <li>
                                <h5><b>Estado Civil:</b> Solteiro</h5>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>

        <!-- ----------------------------------------Sobre-------------------------------------- -->
        <div class=" mt-5 ">

            <h1>Sobre</h1>
        </div>
        <h5>
            _______________________
        </h5>
        <div class=" row bg-secondary " style="max-width: 1500px; --bs-bg-opacity: .2 ">
            <h5 class="mt-2 ">
                <p>Estou cursando o 5º semestre do curso de Ciencia da Computação, e estou fazendo cursos online de programação.</p>
                <p>Me considero uma pessoa estudiosa, que aprende rápido e que gosta de ajudar. Procuro oportunidade, de aprender de ganhar experincia e criar um plano de carreira dentro de uma boa empresa .</p>
            </h5>
        </div>
        <!-- ----------------------------------------Stack-------------------------------------- -->
        <div class="mt-5 ">
            <h1>Stack</h1>
        </div>
        <h5>
            _______________________
        </h5>
        <div class="row row-cols-1 row-cols-md-2 g-4 ">
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/React2.png " class="card-img-top rounded mx-auto d-block mt-4 " style="width: 300px; ">
                <div class="card-body ">
                    <img src="assets/1estrelas.png " class="card-img-top mt-5 ">
                </div>
            </div>
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/Angular1.svg " class="card-img-top rounded mx-auto d-block mt-3 " style="width: 200px; ">
                <div class=" card-body ">
                    <img src="assets/3estrelas.png " class="card-img-top mt-5 ">
                </div>
            </div>
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/JS1.png " class="card-img-top rounded mx-auto d-block mt-4 " style=" width: 250px; ">
                <div class="card-body ">
                    <img src="assets/3estrelas.png " class="card-img-top ">
                </div>
            </div>
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/HTML.png " class="card-img-top rounded mx-auto d-block mt-1 ">
                <div class="card-body ">
                    <img src="assets/3estrelas.png " class="card-img-top ">
                </div>
            </div>
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/CSS.png " class="card-img-top rounded mx-auto d-block mt-4 mb-2 " style=" width: 230px; ">
                <div class="card-body ">
                    <img src="assets/2estrelas.png " class="card-img-top ">
                </div>
            </div>
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/JAVA.png " class="card-img-top rounded mx-auto d-block mt-1 ">
                <div class="card-body ">
                    <img src="assets/2estrelas.png " class="card-img-top ">
                </div>
            </div>
            <div class=" card bg-secondary " style="width: 18rem; --bs-bg-opacity: .2; margin-left: 25px; margin-right: 25px; ">
                <img src="assets/Phtyon.png " class="card-img-top rounded mx-auto d-block mt-4 mb-4 " style=" width: 220px; ">
                <div class="card-body ">
                    <img src="assets/35estrelas.png " class="card-img-top ">
                </div>
            </div>
        </div>
        <!-- ----------------------------------------Educação-------------------------------------- -->
        <div class="mt-5 ">
            <h1>Eduacação</h1>
        </div>
        <h5>
            _______________________
        </h5>
        <div class=" bg-secondary " style="max-width: 1500px; --bs-bg-opacity: .2 ">
            <ul>
                <h5>
                    <li>Ensino Fundamental completo</li>
                    <li>Ensino Médio completo</li>
                    <li>São Judas Tadeu - Leopoldina
                        <ul>
                            <li>Ciências da Computação</li>
                            <li>Período: 5° Semestre - Noturno - Cursando</li>
                        </ul>
                    </li>
                    <li>
                        INovePro
                        <ul>
                            <li>Manutenção e Montagem de Computadores</li>
                            <li>HTML e CSS</li>

                        </ul>
                    </li>
                    <li>
                        Fundação Bradesco
                        <ul>
                            <li>Curso Profissionalizante de Logística</li>
                            <li>Excel 2016, Básico, Intermediário e Avançado</li>
                        </ul>
                    </li>
                    <li>
                        Alura
                        <ul>
                            <li>Phyton 3 Parte 1 e 2 - Concluidos</li>
                            <li>Phyton 3 Parte 3 - Cursando</li>
                            <li>Angular Parte 1 - Cursando </li>
                        </ul>
                    </li>
                </h5>
            </ul>
        </div>
        <!-- ----------------------------------------Experiencias-------------------------------------- -->
        <div class="mt-5 ">
            <h1>Expêriencias</h1>
        </div>
        <h5>
            _______________________
        </h5>
        <div class="row bg-secondary " style="max-width: 1500px; --bs-bg-opacity: .2 ">
            <h2 class="mt-3 ">
                Josecar Autopeças
            </h2>
            <h5>
                <p>
                    Comecei em dezembro de 2018 e encerrei contrato em fevereiro de 2020. Trabalhei com logistica como Jovem Aprendiz, na área de separação e reposição de Autopeças.
                </p>
            </h5>
            <h2>
                Flash Infomática & Games LTDA
            </h2>
            <h5>
                <p>
                    Comecei em julho de 2020 e estou até atualmente.Trabalho com manutenção de notebooks computadores e impressoras, alem de atuar na área de vendas de acessorios eletronicos.
                </p>
            </h5>
        </div>
        <!-- ----------------------------------------Linguas-------------------------------------- -->
        <div class="mt-5 ">
            <h1>Lingua(s)</h1>
        </div>
        <h5>
            _______________________
        </h5>
        <div class="row bg-secondary " style="max-width: 1500px; --bs-bg-opacity: .2 ">
            <h2 class="mt-3 ">
                Centro de Estudos de Línguas (CEL)
            </h2>
            <h5>
                <p>
                    Ingles Basico
                </p>
            </h5>
        </div>
    </div>
    <footer>
        <div class="container ">
            <div class="card mb-3 mt-4 text-center bg-dark " style="max-width: 1500px; border: 3px solid black; ">
            </div>
        </div>
    </footer>
</body>

<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2 " crossorigin="anonymous "></script>
<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2 " crossorigin="anonymous "></script>


